---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { Image } from 'astro:assets';
import FormattedDate from '../components/FormattedDate.astro';
import BlogPanel from '../components/blog/BlogPanel.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getCollection } from 'astro:content';

const post = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)[0];
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 2rem;
			}
			ul *{
				text-decoration: none;
			}
			#blogP {
				width: 10%
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>hello</h1>
			<p>
				Welcome to my web page.
				My name is Johannes Weinbrecht.
				You can find more information about me on my <a href="/about">about page</a>.
			</p>
			<p>
				In case I ever write a proper blog posts, they will be available on the <a href="/blog">blog page</a>.
				You might also see the newest blog post displayed below.
			</p>
				<BlogPanel id="blogP" post={post}/>
			<p>
				If you want to reach out to me, you can find the needed information on the <a href="/contact">contact tab.</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
